* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
}

:root {
  --white: #fff;
  --pink: #ff3576;
  --light-grey: #e6e6e6;
  --gray: #8b8e90;
  --green: #04d41b;
  --bgColor: #fbfbfb;
}

body {
  background: var(--bgColor);
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
}
