.list-item {
  display: flex;
  width: 336px;
  max-width: 340px;
  min-height: 700px;
  max-height: 760px;
  flex-direction: column;
  background: var(--white);
  border-radius: 4px;
  padding: 20px;
}

li img {
  align-self: center;
  height: auto;
  max-height: 300px;
  max-width: 250px;
}

li strong {
  align-self: center;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 20px;
  color: black;
  margin-top: 5px;
  padding-top: 1rem;
}

li span {
  font-size: 21px;
  font-weight: bold;
  margin: 5px 0 20px;
}

.separator {
	border-bottom: 2px solid var(--light-grey);
  padding: 0.8rem;
  /* width: 250px; */
}

.card-header {
  align-items: space-between;
  display: flex;
  justify-content: space-between;
}

.header-title {
  background-color: var(--pink);
  border-radius: 6px;
  color: var(--white);
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
  margin-top: auto;
  padding: 5px 20px;
}

button {
  align-self: center;
  background: var(--green);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
  padding: 0 36px;
  margin-top: auto;
  width: 290px;
  max-width: 300px;
  transition: filter, 0.2s;
}

button:hover {
  background: filter(brightness, 0.9);
}

button div {
  padding: 16px;
}

button span {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.product-price {
  align-self: flex-end;
  justify-self: center;
  color: var(--pink);
  font-family: Montserrat, sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
}

.tag-icon {
  align-self: flex-start;
  left: -30px;
  justify-self: center;
  position: relative;
  height: auto;
  padding: 0;
  width: 90px;
}

.container {
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
  margin-top: 0;
}

.original-price {
  align-self: center;
  color: var(--gray);
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

.product-old-price {
  color: var(--gray);
  font-size: 1rem;
  text-decoration: line-through;
  /* text-decoration-style: solid; */
}

.not-prime {
  text-transform: uppercase;
  font-size: 12px;
}

.not-prime-price {
  font-size: 14px;
}

.origin-price {
  align-self: center;
  display: inline-block;
  margin-top: 30px;
}

.installments {
  color: var(--green);
  margin: 0 auto;
  font-size: 1.3rem;
}

.installments-container {
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 10px;
}

#installment-connector {
  color: var(--gray);
}