.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  list-style: none;
}

.list-item {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
}

li img {
  align-self: center;
  max-width: 250px;
};

li strong {
  font-size: 16px;
  line-height: 20px;
  color: black;
  margin-top: 5px;
}

li span {
  font-size: 21px;
  font-weight: bold;
  margin: 5px 0 20px;
}

.product-old-price {
  color: #8b8e90;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: line-through;
}

.separator {
	border-bottom: 1px solid #e6e6e6;
  padding: 0.8rem;
}

.card-header {
  align-items: space-between;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: #fff;
  background-color: #ff3576;
}