.products-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  max-width: 1120px;
}

.list-item {
  display: flex;
  width: 336px;
  max-width: 340px;
  flex-direction: column;
  background: var(--white);
  border-radius: 4px;
  padding: 20px;
}

li img {
  align-self: center;
  max-width: 250px;
  max-height: 350px;
};

li strong {
  align-self: center;
  font-size: 16px;
  line-height: 20px;
  color: black;
  margin-top: 5px;
  padding-top: 1rem;
}

li span {
  font-size: 21px;
  font-weight: bold;
  margin: 5px 0 20px;
}

.product-old-price {
  color: var(--gray);
  font-size: 1rem;
  font-weight: normal;
  text-decoration: line-through;
}

.separator {
	border-bottom: 2px solid #e6e6e6;
  padding: 0.8rem;
  /* width: 250px; */
}

.card-header {
  align-items: space-between;
  display: flex;
  justify-content: space-between;
}

.header-title {
  background-color: var(--pink);
  border-radius: 6px;
  color: var(--white);
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
  margin-top: auto;
  padding: 5px 20px;
}

button {
  align-self: center;
  background: var(--green);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
  padding: 0 36px;
  margin-top: auto;
  max-width: 180px;
  transition: filter, 0.2s;
}

button:hover {
  background: filter(brightness, 0.9);
}

button div {
  padding: 16px;
}

button span {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.product-price {
  align-self: center;
  color: var(--pink);
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: 800;
}

.tag-icon {
  align-self: flex-start;
  left: -30px;
  position: relative;
  height: auto;
  padding: 0;
  width: 100px;

}

.container {
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
}