.title {
  align-items: center;
  box-shadow: 1px solid var(--gray);
  justify-content: space-between;
  display: flex;
  height: 8rem;
  background: inherit;
}

.title a {
  align-items: center;
  color: var(--pink);
  display: flex;
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  text-decoration: none;
  padding: 2rem;
  transition: opacity 0.2s;
}

.title div {
  text-align: right;
  margin-right: 10px;
}

div strong {
  display: block;
}

div span {
  font-size: 12px;
}

.title a:hover {
  opacity: 0.7;
}
